// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin-ext");


// Bootstrap
@import '~bootstrap/scss/bootstrap';
[v-cloak] {
  display: none;
}

.classification-form
{
	display: flex !important;
	margin-top: 50px;
	margin-bottom: 10px

	&--input
	{
		font-size:25px;
		font-weight:bold
	}
}